@import "tailwindcss";

@custom-variant dark (&:is(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #030712;
}

.dark {
  --background: #030712;
  --foreground: #ffffff;
}

@theme {
  --font-poppins: "Poppins", system-ui, sans-serif;

  --color-primary-50: #e6f0f9;
  --color-primary-100: #cce1f3;
  --color-primary-200: #99c3e7;
  --color-primary-300: #66a5db;
  --color-primary-400: #3377cf;
  --color-primary-500: #00416a;
  --color-primary-600: #00365b;
  --color-primary-700: #002a4a;
  --color-primary-800: #001f3a;
  --color-primary-900: #001229;

  --shadow-primary: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  body {
    @apply bg-background font-poppins text-foreground;
    transition:
      background 0.3s ease,
      color 0.3s ease;
  }
}

.sidebar-link-base {
  @apply flex rounded p-2 transition-all;
}

.sidebar-link-hover {
  @apply hover:bg-primary-100;
}

.sidebar-link-active {
  @apply bg-primary-500 font-medium text-white;
}

.input-focus {
  @apply focus:ring-1 focus:ring-primary-500 focus:outline-none;
}

.pagination-label {
  @apply flex cursor-pointer items-center gap-1 rounded-md border border-gray-300 px-1 py-1 hover:bg-gray-100 md:px-3;
}
