@import "tailwindcss";

@custom-variant dark (&:is(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #030712;
}

.dark {
  --background: #030712;
  --foreground: #ffffff;
}

@theme {
  --font-poppins: "Poppins", system-ui, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  body {
    @apply bg-background font-poppins text-foreground;
    transition:
      background 0.3s ease,
      color 0.3s ease;
  }
}
